<div class="card-body">
            <h4>INTERESES:</h4>
            Ingeniería, Programación, Tenis, Matemáticas.<br><br>
            <h4>HABILIDADES:</h4>
            <ul>
                <li>Dibujo CAD 2D (AUTOCAD)</li>
                <li>Dibujo CAD 3D (SOLIDWORKS)</li>
                <li>Conocimientos en HTML, CSS y Javascript</li>
                <li>Nivel Inglés intermedio</li>
                <li>Trabajo en equipo</li>
                <li>Resolución de problemas</li>
                <li>Rapidez de aprendizaje</li>
                <li>Compromiso</li>
            </ul>
</div>
