<div class="card-body">
    <h4>TRAYECTORIA ACADÉMICA:</h4>
    <ul class="listaXp">
        <li class="experiencias"><img class="imagenExperiencia" src="https://i.ibb.co/55zzmSh/descarga-1.jpg" alt="La Salle Rosario">
        <p class="textoExperiencia">Primaria Colegio La Salle Rosario (2010-2016)</p></li>
        <li class="experiencias"><img class="imagenExperiencia grande" src="https://i.ibb.co/YRCDhMS/logo-san-jose.png" alt="San José Rosario">
        <p class="textoExperiencia">Secundaria Técnica Colegio Salesiano San José N°8013 (2017-2022)</p></li>
        <li class="experiencias"><img class="imagenExperiencia" src="https://i.ibb.co/n398mXN/descarga-1.jpg" alt="UTN Rosario">
        <p class="textoExperiencia">Cursando Ing. Civil UTN FRRO (2023-Actualidad)</p></li>
    </ul>
</div>
